name: Build

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt  # if you have any requirements
        
    - name: Build executable
      run: pyinstaller --onefile main.py
        
    - name: Upload built executable
      uses: actions/upload-artifact@v4
      with:
        name: lolq
        path: dist/
        permissions: read-all